section.section-1
    .filter-main.box-bg2
        .section-top-side
            .section-block--title Отчет по отзывам
        .section-bottom-side.filter-balance-bottom.row.m-0
            .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap.pl-0
                label Пользователь:
                .section-select--input2.section-select--input__show
                    span Пользователь...
                    .section-select--popup__icon
                        +icon('arrow-down-white')
                    ul.section-select--popup__list.section-select--popup__list__show
                        li.section-select--popup__item2.hover-text-color 1
                        li.section-select--popup__item2.hover-text-color 2
                        li.section-select--popup__item2.hover-text-color 3
            .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap.pr-0
                label Кол-во поездок:
                input.input-main(type="text" placeholder="")