section.section-1
    .section-content--main__wrap.box-bg2.pb-0
        .section-content--main
            .section-top-side
                .section-block--title Общие метатеги на страницу города
            .section-bottom-side.row.pr-0.pl-0.m-0
                .col-xl-12.col-lg-12.col-md-12.col-sm-6.section-input-wrap
                    label Title:
                    input.input-main(type="text" placeholder="Введите название...")
                .col-xl-12.col-lg-12.col-md-12.col-sm-6.section-input-wrap
                    label Discription:
                    textarea.textarea-input(cols="5" rows="4" placeholder="К сотрудничесвту")
                .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap
                    label Заголовок H1:
                    input.input-main(type="text" placeholder="Title...")
                .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap
                    label Title:
                    input.input-main(type="text" placeholder="Title...")
                .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap
                    label Url страницы:
                    input.input-main(type="text" placeholder="Url страницы...")
                .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap
                    label Key-words:
                    input.input-main(type="text" placeholder="Key-words...")
                .col-xl-12.col-lg-12.col-md-12.col-sm-6.section-tiny-wrap
                    label SEO текст
                    .section-tiny-side
                        .section-text-options
                            .section-text-option__item(data-edit-type="bold")
                                +icon('bold-text')
                            .section-text-option__item(data-edit-type="italic")
                                +icon('cursive')
                            .section-text-option__item(data-edit-type="underline")
                                +icon('underline-text')
                            .section-text-option__item(data-edit-type="formatblock" data-edit-value="blockquote")
                                +icon('quote')
                            .section-text-option__item(data-edit-type="insertunorderedlist")
                                +icon('list')
                            .section-text-option__item(data-edit-type="insertorderedlist")
                                +icon('numbers')
                            .section-text-option__item(data-edit-type="fontsize-smaller")
                                +icon('font')
                            .section-text-option__item(data-edit-type="fontsize-bigger")
                                +icon('line')
                        .textarea-text-option--wrap
                            .textarea-text-option(contenteditable="true") Ответ...


            .section-footer-side
                .section-buttons--wrap.justify-content-between
                    button.section-button--yellow.w-100px.mr-3(type="submit") Сохранить
                    .section-button--gray.w-max(data-toggle="modal" data-target="#popup-seo-per") Перезаписать SEO настройки