section.section-2.section-content-main--table
    .section-content--main__wrap.box-bg2
        .section-content--main
            .section-bottom-side--scroll.border-none
                table.section-table
                    thead.section-thead-report-pp
                        tr
                            th Заблокировать
                            th Пользователь
                            th Сумма
                            th Дата заявки
                            th Количество
                            th Положение дел
                            th Способ получения

                    tbody.section-data-container
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input__off
                                    input.section-body-checkbox__off(type="checkbox")
                            td
                                a.color-yellow(href="/") Антон Игнатов
                            td 12 124 UZS
                            td 12.04.2020
                            td 120 000 UZS
                            td
                            td Банковская карта

                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input__off
                                    input.section-body-checkbox__off(type="checkbox")
                            td
                                a.color-yellow(href="/") Антон Игнатов
                            td 12 124 UZS
                            td 12.04.2020
                            td 120 000 UZS
                            td
                            td Банковская карта
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input__off
                                    input.section-body-checkbox__off(type="checkbox")
                            td
                                a.color-yellow(href="/") Антон Игнатов
                            td 12 124 UZS
                            td 12.04.2020
                            td 120 000 UZS
                            td
                            td Банковская карта
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input__off
                                    input.section-body-checkbox__off(type="checkbox")
                            td
                                a.color-yellow(href="/") Антон Игнатов
                            td 12 124 UZS
                            td 12.04.2020
                            td 120 000 UZS
                            td
                            td Банковская карта
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input__off
                                    input.section-body-checkbox__off(type="checkbox")
                            td
                                a.color-yellow(href="/") Антон Игнатов
                            td 12 124 UZS
                            td 12.04.2020
                            td 120 000 UZS
                            td
                            td Банковская карта
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input__off
                                    input.section-body-checkbox__off(type="checkbox")
                            td
                                a.color-yellow(href="/") Антон Игнатов
                            td 12 124 UZS
                            td 12.04.2020
                            td 120 000 UZS
                            td
                            td Банковская карта
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input__off
                                    input.section-body-checkbox__off(type="checkbox")
                            td
                                a.color-yellow(href="/") Антон Игнатов
                            td 12 124 UZS
                            td 12.04.2020
                            td 120 000 UZS
                            td
                            td Банковская карта

// .section-content-main--table
section.section3.section-content-main-mobile--table
    .section-content--main-mobile__wrap
        .section-content--main.box-bg2.pb-20px
            .section-bottom-side--mobile__list
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name Антон Игнатов
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item(style="align-items:center;")
                            .section-mobile-table--item__left Заблокировать:
                            .section-mobile-table--item__right
                                .section-body-checkbox__input__off
                                    input.section-body-checkbox__off(type="checkbox")
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Пользователь:
                            .section-mobile-table--item__right
                                a.color-yellow(href="/") Антон Игнатов
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Сумма:
                            .section-mobile-table--item__right 10 000 UZS
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Дата заявки:
                            .section-mobile-table--item__right 12.04.2020
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Количество:
                            .section-mobile-table--item__right 120 000 UZS
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Положение дел:
                            .section-mobile-table--item__right
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Способ получения:
                            .section-mobile-table--item__right Банковская карта




                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name Борис Гуляев
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item(style="align-items:center;")
                            .section-mobile-table--item__left Заблокировать:
                            .section-mobile-table--item__right
                                .section-body-checkbox__input__off
                                    input.section-body-checkbox__off(type="checkbox")
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Пользователь:
                            .section-mobile-table--item__right
                                a.color-yellow(href="/") Антон Игнатов
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Сумма:
                            .section-mobile-table--item__right 10 000 UZS
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Дата заявки:
                            .section-mobile-table--item__right 12.04.2020
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Количество:
                            .section-mobile-table--item__right 120 000 UZS
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Положение дел:
                            .section-mobile-table--item__right
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Способ получения:
                            .section-mobile-table--item__right Банковская карта


            .section-bottom-pagination--wrap
                //.section-bottom--delete.gogocar-arrow-button
                //    +icon('delete')
                .section-bottom-pagination
