section.breadcrumbs
    .breadcrumbs--list
        .breadcrumb--item
            a(href="/")
                +icon('home2')
            +icon('arrow-right')
        a.breadcrumb--item(href="/") Стоимости
            +icon('arrow-right')
        a.breadcrumb--item(href="/") Стоимость по умолчанию
            +icon('arrow-right')
