extends ../layout/main

block variables
    - var title = 'Машины (Тип)'
    - var pageClass = 'index-page'

block content
    include ../modules/breadcrumbs
    include cars5/section1
    include cars5/section2
