extends ../layout/main

block variables
    - var title = 'Машины (Цвет)'
    - var pageClass = 'index-page'

block content
    include ../modules/breadcrumbs
    include cars4/section1
    include cars4/section2