extends ../layout/main

block variables
    - var title = 'Машины (Кузов)'
    - var pageClass = 'index-page'

block content
    include ../modules/breadcrumbs
    include cars3/section1
    include cars3/section2
