extends ../layout/main

block variables
    - var title = 'Машины (Модель)'
    - var pageClass = 'index-page'

block content
    include ../modules/breadcrumbs
    include cars2/section1
    include cars2/section2
