extends ../layout/main

block variables
    - var title = 'Создание инфо страницы'
    - var pageClass = 'index-page'

block content
    include ../modules/breadcrumbs
    include create-info/section1
