extends ../layout/main

block variables
    - var title = 'Редактировать паспортную информацию'
    - var pageClass = 'index-page'

block content
    include ../modules/breadcrumbs
    include docum2/section1