extends ../layout/main

block variables
    - var title = 'Документы (Паспорт)'
    - var pageClass = 'index-page'

block content
    include ../modules/breadcrumbs
    include docum/section1
    include docum/section2
