extends ../layout/main

block variables
    - var title = 'Документы (Водительские права)'
    - var pageClass = 'index-page'

block content
    include ../modules/breadcrumbs
    include docum3/section1
    include docum3/section2