extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include ../modules/breadcrumbs
	include index/section-1
	include index/section-2
