extends ../layout/main

block variables
    - var title = 'Стоимости (Стоимость по умолчанию) Добавление'
    - var pageClass = 'index-page'

block content
    include ../modules/breadcrumbs
    include price/section1
