extends ../layout/main

block variables
    - var title = 'Стоимости (Стоимость за 1 км)'
    - var pageClass = 'index-page'

block content
    include ../modules/breadcrumbs
    include price-def2/section1
    include price-def2/section2