extends ../layout/main

block variables
    - var title = 'Стоимости (Стоимость по умолчанию)'
    - var pageClass = 'index-page'

block content
    include ../modules/breadcrumbs
    include price-def/section1
    include price-def/section2
