extends ../layout/main

block variables
    - var title = 'Отчеты (Поездки по регионам)'
    - var pageClass = 'index-page'

block content
    include ../modules/breadcrumbs
    include reports/section1
    .section-reports-wrap.row.m-15
        include reports/section2
        include reports2/section3
        include reports2/section4
        include reports2/section5
        include reports2/section6
        include reports2/section7
        include reports2/section8
        include reports2/section9