extends ../layout/main

block variables
    - var title = 'Отчеты (Поездки по кузовам)'
    - var pageClass = 'index-page'

block content
    include ../modules/breadcrumbs
    include reports/section1
    .section-reports-wrap.row.m-15
        include reports/section2
        include reports/section3
        include reports/section4
        include reports/section5
        include reports/section6
        include reports/section7
        include reports/section8
        include reports/section9
