extends ../layout/main

block variables
    - var title = 'Прохождение курсов (Завершено поездок)'
    - var pageClass = 'index-page'

block content
    include reports7/section1
    include reports7/section2