extends ../layout/main

block variables
    - var title = 'Отчеты (Вывод денег)'
    - var pageClass = 'index-page'

block content
    include ../modules/breadcrumbs
    include reports4/section1
    include reports4/section2
    include reports4/section3
