extends ../layout/main

block variables
    - var title = 'Отчет о прибыли'
    - var pageClass = 'index-page'

block content
    include ../modules/breadcrumbs
    include reports3/section1
    include reports3/section2
    include reports3/section3