extends ../layout/main

block variables
    - var title = 'Отчеты (Вывод денег)'
    - var pageClass = 'index-page'

block content
    include ../modules/breadcrumbs
    include reports5/section1
    include reports5/section2
