extends ../layout/main

block variables
    - var title = 'Отчеты (Отчет по отзывам)'
    - var pageClass = 'index-page'

block content
    include ../modules/breadcrumbs
    include reports6/section1
    include reports6/section2
