extends ../layout/main

block variables
    - var title = 'SEO на весь сайт (Список городов)'
    - var pageClass = 'index-page'

block content
    include ../modules/breadcrumbs
    include seo/section1
    include seo/section2
