extends ../layout/main

block variables
    - var title = 'SEO на весь сайт (Метатеги для транспорта (авто, автобус))'
    - var pageClass = 'index-page'

block content
    include seo6/section1
    include seo6/section2