extends ../layout/main

block variables
    - var title = 'SEO на весь сайт (Список уникальных направлений)'
    - var pageClass = 'index-page'

block content
    include ../modules/breadcrumbs
    include seo8/section1
