extends ../layout/main

block variables
    - var title = 'Поддержка (Добавить, Быстрые ответы)'
    - var pageClass = 'index-page'

block content
    include ../modules/breadcrumbs
    include support5/section1
