extends ../layout/main

block variables
    - var title = 'Поддержка (Группы)'
    - var pageClass = 'index-page'

block content
    include ../modules/breadcrumbs
    include support10/section1
    include support10/section2
