extends ../layout/main

block variables
    - var title = 'Добавить пассажирскую поездку'
    - var pageClass = 'index-page'

block content
    include ../modules/breadcrumbs
    include trip-people/section1