extends ../layout/main

block variables
    - var title = 'Пассажирская поездка, подробнее'
    - var pageClass = 'index-page'

block content
    include ../modules/breadcrumbs
    include trip-people-more/section1