extends ../layout/main

block variables
    - var title = 'Грузовая поездка, подробнее'
    - var pageClass = 'index-page'

block content
    include ../modules/breadcrumbs
    include trip-cargo-more/section1