.header-nav-left-menu
  display none
.header-logout
  display none
//.section-top-side
//  padding 0
.section-overflow-top-side2
  overflow-x scroll
  overflow-y hidden
  padding-left 15px
  scrollbar-width: none;
.section-overflow-top-side2::-webkit-scrollbar
  height 0
.section-yellow-bg--wrap
  overflow-x scroll
  margin-right 35px
  flex-wrap nowrap
  width 100%
  scrollbar-width: none
.section-yellow-bg--wrap::-webkit-scrollbar
  height 0
.section-users-dropdown--mobile-buttons
  display none
  width 100%
.section-users-dropdown--mobile__load
  display flex
  align-items center
  background-color #424B5B
  border-radius 5px
  height 49px
  padding 15px 19px
  width 48%
  .icon
    size(19px)
    margin-right 16px
  span
    font-family 'Open Sans 400',sans-serif
    font-size 14px
    color #fff
.section-users-dropdown--mobile__delete
  display flex
  align-items center
  background-color #424B5B
  border-radius 5px
  height 49px
  padding 15px 19px
  width 48%
  .icon
    size(19px)
    margin-right 16px
  span
    font-family 'Open Sans 400',sans-serif
    font-size 14px
    color #fff
//.section-driver-rules--category
//  overflow-x scroll
.section-driver-rules--category::-webkit-scrollbar
  height 0
.sup-show-in-mobile
  display none
.section-upper-modal,.section-upper-modal__calendar
  display none
.section-dotted-mobile
  display none
.section-reports-mobile--wrap
  display none
.section-reports-mobile
  margin-right 23px
  .icon
    size(20px)
.list-pagez
  display flex
  flex-direction column
  a
    display: list-item;
    list-style: decimal;
    color #fff
.desktop-display-none
  margin-bottom 0
  width 191px

.section-select--input2
  cursor pointer
.section-select--popup__icon.active
  transform rotate(180deg)
.section-driver-rules--category__close
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  left: auto;
  right: -12px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  .icon
    fill #fff
    size(10px)
.section-driver-rules--category__item
  padding-right 23px
  cursor pointer
.section-driver-rules--category
  position relative
.section-driver-rules--category--popup__list
  position: absolute;
  display: none;
  top: 52px;
  right: 0;
  left: 0;
  width: 100%;
  background: #363d4a;
  -webkit-box-shadow: 0px 0px 40px rgba(27,33,43,0.85);
  box-shadow: 0px 0px 40px rgba(27,33,43,0.85);
  border-radius: 5px;
  padding: 8px 11px;
  z-index: 5;
.section-driver-rules--category--popup__item
  margin-bottom: 8px;
  font-family: 'Open Sans 400', sans-serif;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
  transition all linear .1s
  &:last-child
    margin-bottom 0
  &:hover
    color #FDAB3E

.section-select--popup__list
  z-index 20
.section-time-input--wrap
  display flex
  position relative
  align-items center




.content::-webkit-scrollbar
  width: 10px;
  border-radius: 10px;

.content::-webkit-scrollbar-button
  display: block;
  size(10px)
  background-color: transparent;

.content::-webkit-scrollbar-thumb
  border-radius: 10px;
  outline: 1px solid #708090;
  background-color: #fdab3e;
  //box-shadow: 0px 0px 10px rgba(253, 171, 62, 0.3);

.content::-webkit-scrollbar-track
  margin-right: 5px;
.content::-webkit-scrollbar-track-piece
  border-radius: 10px;
  background: #424B5B
.pr-50
  padding-right 50px
.section-balance-filter--date__wrap .section-input-wrap
  &:after
    content '-'
    absolute-center()
    left auto
    right -6px
    color #fff
  &:last-child
    &:after
      display none
.nav-sidebar--admin__info
  transform translateX(0)
  transition .3s ease
  opacity 1
.nav-sidebar-menu--item__name
  transform translateX(0)
  transition .3s ease
  opacity 1
.nav-sidebar-menu--item__right-side
  transform translateX(0)
  transition .3s ease
  opacity 1
.nav-sidebar-menu--item__left-side
  .icon
    min-width 21px
.nav-sidebar-menu--item__name
  white-space nowrap
.left-side,.right-side
  transition .4s ease
  will-change transform

.left-side.active-desctop
  //transform translateX(0vw)
  flex: 0 0 7%;
  max-width: 7%;
  .nav-sidebar-menu--list--depth2
    display none !important
  .nav-sidebar--admin__info
    transform translateX(6vw)
    opacity 0
    position absolute
  .nav-sidebar--admin__img
    margin-right 0
  .nav-sidebar--admin
    padding 35px 24px
    transition .4s ease
    justify-content center
  .nav-sidebar-menu--item__name
    position absolute
    transform translateX(6vw)
    opacity 0
    white-space nowrap
  .nav-sidebar-menu--item__right-side
    position absolute
    transform translateX(10vw)
    opacity 0
  .nav-sidebar-menu--item__left-side
    .icon
      transition .4s ease
      margin-right 0
  .nav-sidebar-menu--item--wrap
    padding 10px 24px
    justify-content center

.right-side.active-desctop
  flex: 0 0 93%;
  max-width: 93%;
  //transform: translateX(0vw);



.section-bottom-side--scroll::-webkit-scrollbar-thumb,.content::-webkit-scrollbar-thumb,.chat-container-main--info::-webkit-scrollbar-thumb
  outline none
.breadcrumbs--list
  display flex
  align-items center
  overflow-x auto

.breadcrumb--item
  display flex
  align-items center
  font-family 'Montserrat 500', sans-serif
  font-size 13px
  color #A9ACB0
  white-space nowrap
  &:hover
    text-decoration none
    color #FDAB3E
    .icon-home2
      fill #FDAB3E
  .icon
    size(8px)
    fill #A9ACB0
    margin 0 11px
  .icon-home2
    size(20px)
    margin 0

  &:last-child
    .icon
      display none
.section-down-menu--wrap
  display flex
  justify-content space-between
  align-items center
  width 100%
  flex-wrap wrap
.section-down-menu--blocks
  margin 0 -15px
  label
    margin-left 15px
.section-down-menu--item
  margin-bottom 20px