section.section-1
    .filter-main.box-bg2
        include ../../modules/filters/filter-top
        .section-bottom-side.filter-balance-bottom.row.m-0
            .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap.pl-0
                label Населенный пукнт:
                input.input-main(type="text" placeholder="Название...")
            .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap.pr-0
                label Код ФИАС:
                input.input-main(type="text" placeholder="Код ФИАС...")