section.section2.section-content-main--table
    .section-content--main__wrap.box-bg2
        .section-content--main
            .section-top-side
                .section-block--title Стоимость за 1 км
                .filter-side--right
                    .section-top-added.gogocar-arrow-button
                        +icon('plus')
            .section-bottom-side--scroll
                table.section-table
                    thead
                        tr
                            th
                                .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            th.section-thead--icon
                                +icon('settings')
                            th Расстояние
                            th Пассажирская поездка за 1 км
                            th Грузовая поездка за 1 км
                            th Поездка с рефрижератором
                            th Поездка с цистерной

                    tbody.section-data-container
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                            td от 0 до 500
                            td 70 UZS
                            td 80 UZS
                            td 90 UZS
                            td 100 UZS

                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                            td от 0 до 500
                            td 70 UZS
                            td 80 UZS
                            td 90 UZS
                            td 100 UZS
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                            td от 0 до 500
                            td 70 UZS
                            td 80 UZS
                            td 90 UZS
                            td 100 UZS
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                            td от 0 до 500
                            td 70 UZS
                            td 80 UZS
                            td 90 UZS
                            td 100 UZS
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                            td от 0 до 500
                            td 70 UZS
                            td 80 UZS
                            td 90 UZS
                            td 100 UZS
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                            td от 0 до 500
                            td 70 UZS
                            td 80 UZS
                            td 90 UZS
                            td 100 UZS
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                            td от 0 до 500
                            td 70 UZS
                            td 80 UZS
                            td 90 UZS
                            td 100 UZS
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                            td от 0 до 500
                            td 70 UZS
                            td 80 UZS
                            td 90 UZS
                            td 100 UZS
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                            td от 0 до 500
                            td 70 UZS
                            td 80 UZS
                            td 90 UZS
                            td 100 UZS
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                            td от 0 до 500
                            td 70 UZS
                            td 80 UZS
                            td 90 UZS
                            td 100 UZS
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                            td от 0 до 500
                            td 70 UZS
                            td 80 UZS
                            td 90 UZS
                            td 100 UZS
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                            td от 0 до 500
                            td 70 UZS
                            td 80 UZS
                            td 90 UZS
                            td 100 UZS
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                            td от 0 до 500
                            td 70 UZS
                            td 80 UZS
                            td 90 UZS
                            td 100 UZS
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                            td от 0 до 500
                            td 70 UZS
                            td 80 UZS
                            td 90 UZS
                            td 100 UZS
            .section-bottom-pagination--wrap
                .section-bottom--delete.gogocar-arrow-button
                    +icon('delete')
                .section-bottom-pagination

section.section3.section-content-main-mobile--table
    .section-content--main-mobile__wrap
        .section-content--main.box-bg2.pb-20px
            .section-top-side.box-bg-mobile2
                .section-block--title Стоимость за 1 км
                .filter-side--right
                    .section-top-added.gogocar-arrow-button
                        +icon('plus')
            .section-bottom-side--mobile__list
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name  от 0 до 500
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Расстояние:
                            .section-mobile-table--item__right от 0 до 500
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Пассажирская поездка за 1 км:
                            .section-mobile-table--item__right 70 UZS
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Грузовая поездка за 1 км:
                            .section-mobile-table--item__right 80 UZS
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Поездка с рефрижератором:
                            .section-mobile-table--item__right 90 UZS
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Поездка с цистерной:
                            .section-mobile-table--item__right 100 UZS

                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name  Александр Куликов (Id 144)
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name  Александр Куликов (Id 144)
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name  Александр Куликов (Id 144)
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name  Александр Куликов (Id 146)
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')

                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name  Александр Куликов (Id 146)
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')

                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name  Александр Куликов (Id 146)
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')

                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name  Александр Куликов (Id 146)
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')

                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name  Александр Куликов (Id 146)
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')

                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
            .section-bottom-pagination--wrap.mt-20px
                //.section-bottom--delete.gogocar-arrow-button
                //    +icon('delete')
                .section-bottom-pagination