section.section-1
    .filter-main.box-bg2
        include ../../modules/filters/filter-top
        .section-bottom-side.filter-bottom-side
            .section-label-select--wrap
                label Расстояние:
                .section-select--input.section-select--input__show
                    span Расстояние...
                    .section-select--popup__icon
                        +icon('arrow-down-white')
                    ul.section-select--popup__list.section-select--popup__list__show
                        li.section-select--popup__item2.hover-text-color 1
                        li.section-select--popup__item2.hover-text-color 2
                        li.section-select--popup__item2.hover-text-color 3
                        li.section-select--popup__item2.hover-text-color 4
                        li.section-select--popup__item2.hover-text-color 5