section.section-1
    .section-content--main__wrap.box-bg2.pb-0
        .section-content--main
            .section-top-side
                .section-top-block--back
                    .section-top-block--back__item
                        +icon('arrow-left')
                    .section-block--title Создать новую стоимость за 1 км
            .section-bottom-side.row.pr-0.pl-0.m-0
                .col-xl-12.col-lg-12.col-md-12.col-sm-12.section-input-wrap.mb-0
                    .section-label-select--wrap.section-down-menu--blocks
                        label Расстояние:
                        .section-down-menu--wrap
                            .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-down-menu--item
                                input.input-main(type="text" placeholder="от")
                            .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-down-menu--item
                                input.input-main(type="text" placeholder="до")
                .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap
                    label Пассажирская поездка за 1 км:
                    input.input-main(type="text" placeholder="Укажите сумму")
                .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap
                    label Грузовая поездка за 1 км:
                    input.input-main(type="text" placeholder="Укажите сумму")
                .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap
                    label Поездка с рефрижератором за 1 км:
                    input.input-main(type="text" placeholder="Укажите сумму")
                .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap
                    label Поездка с цистерной за 1 км:
                    input.input-main(type="text" placeholder="Укажите сумму")



            .section-footer-side
                .section-buttons--wrap
                    button.section-button--yellow.w-100px.mr-3(type="submit") Сохранить
                    .section-button--gray.w-100px Отменить
