section.section2.col-xl-12.col-lg-12.col-md-12.col-sm-6.p-30.mobile-padding-0
    .filter-main.box-bg2
        .section-top-side
            .section-block--title Всего поездок: 900
            .section-block--title Прибыль: 1 145 756 UZS
        .section-bottom-side
            // Таблицу или контент сюда