section.section-1
    .filter-main.box-bg2
        include ../../modules/filters/filter-top
        .section-bottom-side.filter-balance-bottom.row.m-0
            .col-xl-12.col-lg-12.col-md-12.col-sm-6.section-input-wrap.pl-0
                label Название
                input.input-main(type="text" placeholder="Название...")
            .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap.pl-0
                label Город 1
                input.input-main(type="text" placeholder="Город 1...")
            .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap.pr-0
                label Город 2
                input.input-main(type="text" placeholder="Город 2...")