section.section-2.section-content-main--table
    .section-content--main__wrap.box-bg2
        .section-content--main
            .section-top-side
                .section-block-title-question
                    .section-block--title Список уникальных направлений
                .section-block-added-csv
                    .section-upper-modal
                        .section-csv-green Загрузить из CSV
                        .section-csv-yellow Выгрузить в CSV
                    .section-csv--wrap
                        .section-csv-green Загрузить из CSV
                        .section-csv-yellow Выгрузить в CSV
                    .filter-side--right
                        .section-dotted-mobile.gogocar-arrow-button
                            +icon('dots')
                        .section-top-added.gogocar-arrow-button
                            +icon('plus')
            .section-bottom-side--scroll
                table.section-table
                    thead
                        tr
                            th
                                .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            th.section-thead--icon
                                +icon('settings')
                            th Город 1
                            th Город 2
                            th Title
                            th Description
                            th Key-words
                            th SEO текст
                    tbody.section-data-container
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            td Ташкент
                            td Андижан
                            td Заголовок 1
                            td Description 1
                            td Key-words
                            td SEO текст 1
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            td Ташкент
                            td Андижан
                            td Заголовок 1
                            td Description 1
                            td Key-words
                            td SEO текст 1
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            td Ташкент
                            td Андижан
                            td Заголовок 1
                            td Description 1
                            td Key-words
                            td SEO текст 1
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            td Ташкент
                            td Андижан
                            td Заголовок 1
                            td Description 1
                            td Key-words
                            td SEO текст 1
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            td Ташкент
                            td Андижан
                            td Заголовок 1
                            td Description 1
                            td Key-words
                            td SEO текст 1
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            td Ташкент
                            td Андижан
                            td Заголовок 1
                            td Description 1
                            td Key-words
                            td SEO текст 1
            .section-bottom-pagination--wrap
                .section-bottom--delete.gogocar-arrow-button
                    +icon('delete')
                .section-bottom-pagination

// .section-content-main--table
section.section3.section-content-main-mobile--table
    .section-content--main-mobile__wrap
        .section-content--main.box-bg2.pb-20px
            .section-top-side.box-bg-mobile2
                .section-block--title Уникальные направления
                section-block-added-csv
                    .section-upper-modal
                        .section-csv-green Загрузить из CSV
                        .section-csv-yellow Выгрузить в CSV
                    .section-csv--wrap
                        .section-csv-green Загрузить из CSV
                        .section-csv-yellow Выгрузить в CSV
                    .filter-side--right
                        .section-dotted-mobile.gogocar-arrow-button
                            +icon('dots')
                        .section-top-added.gogocar-arrow-button
                            +icon('plus')
            .section-bottom-side--mobile__list
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name Ташкент → Андижан
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Город 1:
                            .section-mobile-table--item__right Ташкент
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Город 2:
                            .section-mobile-table--item__right Андижан
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Title:
                            .section-mobile-table--item__right Заголовок 1
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Description:
                            .section-mobile-table--item__right Description 1
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Key-words:
                            .section-mobile-table--item__right Key-words 1
                        li.section-mobile-table--item
                            .section-mobile-table--item__left SEO текст:
                            .section-mobile-table--item__right SEO текст 1



                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name Андижан
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Город 1:
                            .section-mobile-table--item__right Ташкент
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Город 2:
                            .section-mobile-table--item__right Андижан
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Title:
                            .section-mobile-table--item__right Заголовок 1
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Description:
                            .section-mobile-table--item__right Description 1
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Key-words:
                            .section-mobile-table--item__right Key-words 1
                        li.section-mobile-table--item
                            .section-mobile-table--item__left SEO текст:
                            .section-mobile-table--item__right SEO текст 1
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name Гулистан
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Город 1:
                            .section-mobile-table--item__right Ташкент
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Город 2:
                            .section-mobile-table--item__right Андижан
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Title:
                            .section-mobile-table--item__right Заголовок 1
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Description:
                            .section-mobile-table--item__right Description 1
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Key-words:
                            .section-mobile-table--item__right Key-words 1
                        li.section-mobile-table--item
                            .section-mobile-table--item__left SEO текст:
                            .section-mobile-table--item__right SEO текст 1





            .section-bottom-pagination--wrap.mt-20px
                //.section-bottom--delete.gogocar-arrow-button
                //    +icon('delete')
                .section-bottom-pagination