.section-user--dropdown__wrap.users-balance
    .section-bottom-side
        .section-users-balance--content
            .section-users-balance--left
                .section-users-balance--title Текущий баланс:
                .section-users-balance--count 10 250 UZS
            .section-users-balance--right
                .section-users-balance--plus.section-users-balance--icon(data-toggle="modal" data-target="#popup-add")
                    +icon('money-bag')
                .section-users-balance--minus.section-users-balance--icon(data-toggle="modal" data-target="#popup-rem")
                    +icon('money-bag')