form.section-user--dropdown__wrap.users-auto
    .section-bottom-side
        .section-users-tab--content
            .section-car-tabs--list.row
                .section-car-tabs--item.active(data-car="user-auto-1") Авто №1
                .section-car-tabs--item(data-car="user-auto-2") Авто №2
                .section-car-tabs-added Добавить авто
            .section-car-tab--inputs
                .section-inputs--wrapper.section-car-tab--list.user-auto-1.active.row
                    .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap
                        label Марка:
                        .section-select--input2.section-select--input__show
                            span Введите марку машины
                            .section-select--popup__icon
                                +icon('arrow-down-white')
                            ul.section-select--popup__list.section-select--popup__list__show
                                li.section-select--popup__item2.hover-text-color Любой
                                li.section-select--popup__item2.hover-text-color Любой2
                                li.section-select--popup__item2.hover-text-color Любой3
                    .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap
                        label Модель:
                        .section-select--input2.section-select--input__show
                            span Введите модель машины
                            .section-select--popup__icon
                                +icon('arrow-down-white')
                            ul.section-select--popup__list.section-select--popup__list__show
                                li.section-select--popup__item2.hover-text-color Любой
                                li.section-select--popup__item2.hover-text-color Любой2
                                li.section-select--popup__item2.hover-text-color Любой3
                    .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap
                        label Кузов:
                        .section-select--input2.section-select--input__show
                            span Введите кузов машины
                            .section-select--popup__icon
                                +icon('arrow-down-white')
                            ul.section-select--popup__list.section-select--popup__list__show
                                li.section-select--popup__item2.hover-text-color Любой
                                li.section-select--popup__item2.hover-text-color Любой2
                                li.section-select--popup__item2.hover-text-color Любой3
                    .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap
                        label Цвет:
                        .section-select--input2.section-select--input__show
                            span Введите цвет машины
                            .section-select--popup__icon
                                +icon('arrow-down-white')
                            ul.section-select--popup__list.section-select--popup__list__show
                                li.section-select--popup__item2.hover-text-color Любой
                                li.section-select--popup__item2.hover-text-color Любой2
                                li.section-select--popup__item2.hover-text-color Любой3


                .section-inputs--wrapper.section-car-tab--list.user-auto-2.row
                    .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap
                        label Марка:
                        .section-select--input2.section-select--input__show
                            span Введите марку машины
                            .section-select--popup__icon
                                +icon('arrow-down-white')
                            ul.section-select--popup__list.section-select--popup__list__show
                                li.section-select--popup__item2.hover-text-color Любой
                                li.section-select--popup__item2.hover-text-color Любой2
                                li.section-select--popup__item2.hover-text-color Любой3
                    .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap
                        label Модель:
                        .section-select--input2.section-select--input__show
                            span Введите модель машины
                            .section-select--popup__icon
                                +icon('arrow-down-white')
                            ul.section-select--popup__list.section-select--popup__list__show
                                li.section-select--popup__item2.hover-text-color Любой
                                li.section-select--popup__item2.hover-text-color Любой2
                                li.section-select--popup__item2.hover-text-color Любой3
                    .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap
                        label Кузов:
                        .section-select--input2.section-select--input__show
                            span Введите кузов машины
                            .section-select--popup__icon
                                +icon('arrow-down-white')
                            ul.section-select--popup__list.section-select--popup__list__show
                                li.section-select--popup__item2.hover-text-color Любой
                                li.section-select--popup__item2.hover-text-color Любой2
                                li.section-select--popup__item2.hover-text-color Любой3
                    .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap
                        label Цвет:
                        .section-select--input2.section-select--input__show
                            span Введите цвет машины
                            .section-select--popup__icon
                                +icon('arrow-down-white')
                            ul.section-select--popup__list.section-select--popup__list__show
                                li.section-select--popup__item2.hover-text-color Любой
                                li.section-select--popup__item2.hover-text-color Любой2
                                li.section-select--popup__item2.hover-text-color Любой3

    .section-footer-side
        .section-buttons--wrap
            button.section-button--yellow.w-100px.mr-3(type="submit") Сохранить
            .section-button--gray.w-100px Отменить