.left-side
  padding 0
.nav-sidebar--admin
  padding 35px 30px
  display flex
  align-items center
.nav-sidebar--sections
  overflow-y scroll
  height calc(100vh - 130px)
  scrollbar-width: none;
.nav-sidebar--sections::-webkit-scrollbar
  width 0
.nav-sidebar--admin__img
  background-repeat no-repeat
  background-size cover
  size(60px)
  border-radius 10px
  box-shadow: 0 4px 14px 1px #fdab3e52;
  margin-right 15px

.nav-sidebar--admin__name
  font-size 18px
  color #ffffff
  font-family 'Oswald 400',sans-serif

.nav-sidebar--admin__role
  font-size 12px
  color #AFB2B5
  font-family 'Open Sans 400',sans-serif

.nav-sidebar-menu--item--wrap
  display flex
  align-items center
  justify-content space-between
  padding: 10px 15px 10px 30px;

.nav-sidebar-menu--item
  cursor pointer
  //margin-bottom 10px
  transition all linear .2s
.nav-sidebar-menu--item.active
  background-color rgba(255, 255, 255, 0.05);
  .nav-sidebar-menu--item__name
    color #fff
  .nav-sidebar-menu--item__right-side .icon
    transform rotate(180deg)
.nav-sidebar-menu--item__left-side
  display flex
  align-items center
  .icon
    margin-right 10px
    size(21px)

.nav-sidebar-menu--item__name
  color rgba(255, 255, 255, 0.7)
  font-family 'Oswald 400',sans-serif
  font-size 14px
.nav-sidebar-menu--item__right-side
  .icon
    size(15px)

.nav-sidebar-menu--list--depth2
  display flex
  flex-direction column
  padding-left 30px

.nav-sidebar-menu--item--depth2
  color #fff
  font-family 'Oswald 400',sans-serif
  font-size 13px
  margin-bottom 10px
  transition all linear .2s

  &:last-child
    margin-bottom 15px
  &:hover
    color #FDAB3E
    text-decoration none

.nav-sidebar-menu--list--depth3
  display flex
  flex-direction column
  padding-left 25px
  margin-top 10px
.nav-sidebar-menu--item--depth3
  display list-item
  list-style-type disc
  color #fff
  margin-bottom 8px
  transition all linear .2s
  &:last-child
    margin-bottom 0
  &:hover
    text-decoration none
    color #FDAB3E

.nav-sidebar-menu--item--depth2--wrap
  display flex
  justify-content space-between
  align-items center
  padding-right 15px
.nav-sidebar-menu--item--depth2--icon
  .icon
    size(15px)
.nav-sidebar-menu--item--depth2.active
  .nav-sidebar-menu--item--depth2--text
    color #FDAB3E
  .nav-sidebar-menu--item--depth2--icon
    .icon
      transform rotate(180deg)

