section.section2.section-content-main--table
    .section-content--main__wrap.box-bg2
        .section-content--main
            .section-top-side
                .section-block--title Операции
                .section-users-balance--right
                    .section-users-balance--plus.section-users-balance--icon(data-toggle="modal" data-target="#popup-add")
                        +icon('money-bag')
                    .section-users-balance--minus.section-users-balance--icon(data-toggle="modal" data-target="#popup-rem")
                        +icon('money-bag')
            .section-bottom-side--scroll
                table.section-table
                    thead
                        tr
                            th
                                .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            th.section-thead--icon
                                +icon('settings')
                            th Отклонить
                            th Пользователь
                            th Сумма
                            th Дата
                            th Назначение платежа
                            th Вид операции:
                            th Статус
                            th Комментарий
                            th Метод
                    tbody.section-data-container
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить

                            td
                                .section-body-checkbox__input__off
                                    input.section-body-checkbox__off(type="checkbox")
                            td one
                            td 10 000 UZS
                            td 20.07.2020 09:30
                            td Facilisis etiam.
                            td Расход
                            td Pending
                            td A ut diam risus dolor, pellentesque semper. Proin.
                            td paypal

                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            td
                                .section-body-checkbox__input__off
                                    input.section-body-checkbox__off(type="checkbox")
                            td Владимир Владимирович Пятницкий
                            td 100 000 UZS
                            td 11.07.2020 14:27
                            td Amet sed.
                            td Расход
                            td Complete
                            td A ut diam risus dolor, pellentesque semper. Proin.
                            td paypal
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить

                            td
                                .section-body-checkbox__input__off
                                    input.section-body-checkbox__off(type="checkbox")
                            td one
                            td 10 000 UZS
                            td 20.07.2020 09:30
                            td Facilisis etiam.
                            td Расход
                            td Pending
                            td A ut diam risus dolor, pellentesque semper. Proin.
                            td paypal

                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            td
                                .section-body-checkbox__input__off
                                    input.section-body-checkbox__off(type="checkbox")
                            td Владимир Владимирович Пятницкий
                            td 100 000 UZS
                            td 11.07.2020 14:27
                            td Amet sed.
                            td Расход
                            td Complete
                            td A ut diam risus dolor, pellentesque semper. Proin.
                            td paypal
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить

                            td
                                .section-body-checkbox__input__off
                                    input.section-body-checkbox__off(type="checkbox")
                            td one
                            td 10 000 UZS
                            td 20.07.2020 09:30
                            td Facilisis etiam.
                            td Расход
                            td Pending
                            td A ut diam risus dolor, pellentesque semper. Proin.
                            td paypal

                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            td
                                .section-body-checkbox__input__off
                                    input.section-body-checkbox__off(type="checkbox")
                            td Владимир Владимирович Пятницкий
                            td 100 000 UZS
                            td 11.07.2020 14:27
                            td Amet sed.
                            td Расход
                            td Complete
                            td A ut diam risus dolor, pellentesque semper. Proin.
                            td paypal
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить

                            td
                                .section-body-checkbox__input__off
                                    input.section-body-checkbox__off(type="checkbox")
                            td one
                            td 10 000 UZS
                            td 20.07.2020 09:30
                            td Facilisis etiam.
                            td Расход
                            td Pending
                            td A ut diam risus dolor, pellentesque semper. Proin.
                            td paypal

                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            td
                                .section-body-checkbox__input__off
                                    input.section-body-checkbox__off(type="checkbox")
                            td Владимир Владимирович Пятницкий
                            td 100 000 UZS
                            td 11.07.2020 14:27
                            td Amet sed.
                            td Расход
                            td Complete
                            td A ut diam risus dolor, pellentesque semper. Proin.
                            td paypal
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить

                            td
                                .section-body-checkbox__input__off
                                    input.section-body-checkbox__off(type="checkbox")
                            td one
                            td 10 000 UZS
                            td 20.07.2020 09:30
                            td Facilisis etiam.
                            td Расход
                            td Pending
                            td A ut diam risus dolor, pellentesque semper. Proin.
                            td paypal

                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            td
                                .section-body-checkbox__input__off
                                    input.section-body-checkbox__off(type="checkbox")
                            td Владимир Владимирович Пятницкий
                            td 100 000 UZS
                            td 11.07.2020 14:27
                            td Amet sed.
                            td Расход
                            td Complete
                            td A ut diam risus dolor, pellentesque semper. Proin.
                            td paypal
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить

                            td
                                .section-body-checkbox__input__off
                                    input.section-body-checkbox__off(type="checkbox")
                            td one
                            td 10 000 UZS
                            td 20.07.2020 09:30
                            td Facilisis etiam.
                            td Расход
                            td Pending
                            td A ut diam risus dolor, pellentesque semper. Proin.
                            td paypal

                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            td
                                .section-body-checkbox__input__off
                                    input.section-body-checkbox__off(type="checkbox")
                            td Владимир Владимирович Пятницкий
                            td 100 000 UZS
                            td 11.07.2020 14:27
                            td Amet sed.
                            td Расход
                            td Complete
                            td A ut diam risus dolor, pellentesque semper. Proin.
                            td paypal
            .section-bottom-pagination--wrap
                .section-bottom--delete.gogocar-arrow-button
                    +icon('delete')
                .section-bottom-pagination

// .section-content-main--table
section.section3.section-content-main-mobile--table
    .section-content--main-mobile__wrap
        .section-content--main.box-bg2.pb-20px
            .section-top-side.box-bg-mobile2
                .section-block--title Операции
                .section-users-balance--right
                    .section-users-balance--plus.section-users-balance--icon(data-toggle="modal" data-target="#popup-add")
                        +icon('money-bag')
                    .section-users-balance--minus.section-users-balance--icon(data-toggle="modal" data-target="#popup-rem")
                        +icon('money-bag')
            .section-bottom-side--mobile__list
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name one
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item(style="align-items:center;")
                            .section-mobile-table--item__left Отклонить:
                            .section-mobile-table--item__right
                                .section-body-checkbox__input__off
                                    input.section-body-checkbox__off(type="checkbox")
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Пользователь:
                            .section-mobile-table--item__right one
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Сумма:
                            .section-mobile-table--item__right 10 000 UZS
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Дата:
                            .section-mobile-table--item__right 20.07.2020 09:30
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Назначение платежа:
                            .section-mobile-table--item__right Facilisis etiam.
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Вид операции:
                            .section-mobile-table--item__right Расход
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Статус:
                            .section-mobile-table--item__right Pending
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Комментарий: #[span A ut diam risus dolor, pellentesque semper. Proin.]
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Метод:
                            .section-mobile-table--item__right PayPal



                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name Бек
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item(style="align-items:center;")
                            .section-mobile-table--item__left Отклонить:
                            .section-mobile-table--item__right
                                .section-body-checkbox__input__off
                                    input.section-body-checkbox__off(type="checkbox")
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Пользователь:
                            .section-mobile-table--item__right one
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Сумма:
                            .section-mobile-table--item__right 10 000 UZS
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Дата:
                            .section-mobile-table--item__right 20.07.2020 09:30
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Назначение платежа:
                            .section-mobile-table--item__right Facilisis etiam.
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Вид операции:
                            .section-mobile-table--item__right Расход
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Статус:
                            .section-mobile-table--item__right Pending
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Комментарий: #[span A ut diam risus dolor, pellentesque semper. Proin.]
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Метод:
                            .section-mobile-table--item__right PayPal


            .section-bottom-pagination--wrap
                //.section-bottom--delete.gogocar-arrow-button
                //    +icon('delete')
                .section-bottom-pagination