section.section-2.section-content-main--table
    .section-content--main__wrap.box-bg2
        .section-content--main
            .section-bottom-side--scroll.border-none
                table.section-table
                    thead.section-thead-report-pp
                        tr
                            th Пользователь
                            th Сумма
                            th Дата
                    tbody.section-data-container
                        tr.section-data-container--item
                            td
                                a.color-yellow(href="/") Антон Игнатов
                            td 12 124 UZS
                            td 12.06.2020
                        tr.section-data-container--item
                            td
                                a.color-yellow(href="/") Антон Игнатов
                            td 12 124 UZS
                            td 12.06.2020
                        tr.section-data-container--item
                            td
                                a.color-yellow(href="/") Антон Игнатов
                            td 12 124 UZS
                            td 12.06.2020
                        tr.section-data-container--item
                            td
                                a.color-yellow(href="/") Антон Игнатов
                            td 12 124 UZS
                            td 12.06.2020
                        tr.section-data-container--item
                            td
                                a.color-yellow(href="/") Антон Игнатов
                            td 12 124 UZS
                            td 12.06.2020
                        tr.section-data-container--item
                            td
                                a.color-yellow(href="/") Антон Игнатов
                            td 12 124 UZS
                            td 12.06.2020



            .section-bottom-pagination--wrap
                .section-bottom--delete.gogocar-arrow-button
                    +icon('delete')
                .section-bottom-pagination

// .section-content-main--table
section.section3.section-content-main-mobile--table
    .section-content--main-mobile__wrap
        .section-content--main.box-bg2.pb-20px
            .section-bottom-side--mobile__list
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name  Антон Игнатов
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Пользователь: Антон Игнатов
                            .section-mobile-table--item__right
                                a.color-yellow(href="/") Антон Игнатов
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Сумма:
                            .section-mobile-table--item__right 12 124 UZS
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Дата:
                            .section-mobile-table--item__right 12.06.2020



                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name  Борис Гуляев
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Пользователь: Антон Игнатов
                            .section-mobile-table--item__right
                                a.color-yellow(href="/") Антон Игнатов
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Сумма:
                            .section-mobile-table--item__right 12 124 UZS
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Дата:
                            .section-mobile-table--item__right 12.06.2020
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name  Григорий Самсонов
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Пользователь: Антон Игнатов
                            .section-mobile-table--item__right
                                a.color-yellow(href="/") Антон Игнатов
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Сумма:
                            .section-mobile-table--item__right 12 124 UZS
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Дата:
                            .section-mobile-table--item__right 12.06.2020


            .section-bottom-pagination--wrap.mt-20px
                //.section-bottom--delete.gogocar-arrow-button
                //    +icon('delete')
                .section-bottom-pagination