section.section-1
    .section-content--main__wrap.box-bg2.pb-0
        .section-content--main
            .section-top-side
                .section-top-block--back
                    .section-top-block--back__item
                        +icon('arrow-left')
                    .section-block--title Создать новую цену по умолчанию
            .section-bottom-side.row.pr-0.pl-0.m-0
                .col-xl-12.col-lg-12.col-md-12.col-sm-12.section-input-wrap.mb-0
                    .section-label-select--wrap.section-down-menu--blocks
                        label Точка отправления:
                        .section-down-menu--wrap
                            .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-down-menu--item
                                .section-select--input.section-select--input__show
                                    span Страна
                                    .section-select--popup__icon
                                        +icon('arrow-down-white')
                                    ul.section-select--popup__list.section-select--popup__list__show
                                        li.section-select--popup__item2.hover-text-color Россия
                                        li.section-select--popup__item2.hover-text-color Канада
                                        li.section-select--popup__item2.hover-text-color Италия
                            .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-down-menu--item
                                .section-select--input.section-select--input__show
                                    span Область
                                    .section-select--popup__icon
                                        +icon('arrow-down-white')
                                    ul.section-select--popup__list.section-select--popup__list__show
                                        li.section-select--popup__item2.hover-text-color Александр Куликов
                                        li.section-select--popup__item2.hover-text-color Александр Куликов2
                                        li.section-select--popup__item2.hover-text-color Александр Куликов3
                                        li.section-select--popup__item2.hover-text-color Александр Куликов4
                                        li.section-select--popup__item2.hover-text-color Александр Куликов5
                            .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-down-menu--item
                                .section-select--input.section-select--input__show
                                    span Город
                                    .section-select--popup__icon
                                        +icon('arrow-down-white')
                                    ul.section-select--popup__list.section-select--popup__list__show
                                        li.section-select--popup__item2.hover-text-color Александр Куликов
                                        li.section-select--popup__item2.hover-text-color Александр Куликов2
                                        li.section-select--popup__item2.hover-text-color Александр Куликов3
                                        li.section-select--popup__item2.hover-text-color Александр Куликов4
                                        li.section-select--popup__item2.hover-text-color Александр Куликов5
                            .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-down-menu--item
                                .section-select--input.section-select--input__show
                                    span Район города
                                    .section-select--popup__icon
                                        +icon('arrow-down-white')
                                    ul.section-select--popup__list.section-select--popup__list__show
                                        li.section-select--popup__item2.hover-text-color Александр Куликов
                                        li.section-select--popup__item2.hover-text-color Александр Куликов2
                                        li.section-select--popup__item2.hover-text-color Александр Куликов3
                                        li.section-select--popup__item2.hover-text-color Александр Куликов4
                                        li.section-select--popup__item2.hover-text-color Александр Куликов5
                .col-xl-12.col-lg-12.col-md-12.col-sm-12.section-input-wrap.mb-0
                    .section-label-select--wrap.section-down-menu--blocks
                        label Точка назначения:
                        .section-down-menu--wrap
                            .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-down-menu--item
                                .section-select--input.section-select--input__show
                                    span Страна
                                    .section-select--popup__icon
                                        +icon('arrow-down-white')
                                    ul.section-select--popup__list.section-select--popup__list__show
                                        li.section-select--popup__item2.hover-text-color Россия
                                        li.section-select--popup__item2.hover-text-color Канада
                                        li.section-select--popup__item2.hover-text-color Италия
                            .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-down-menu--item
                                .section-select--input.section-select--input__show
                                    span Область
                                    .section-select--popup__icon
                                        +icon('arrow-down-white')
                                    ul.section-select--popup__list.section-select--popup__list__show
                                        li.section-select--popup__item2.hover-text-color Александр Куликов
                                        li.section-select--popup__item2.hover-text-color Александр Куликов2
                                        li.section-select--popup__item2.hover-text-color Александр Куликов3
                                        li.section-select--popup__item2.hover-text-color Александр Куликов4
                                        li.section-select--popup__item2.hover-text-color Александр Куликов5
                            .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-down-menu--item
                                .section-select--input.section-select--input__show
                                    span Город
                                    .section-select--popup__icon
                                        +icon('arrow-down-white')
                                    ul.section-select--popup__list.section-select--popup__list__show
                                        li.section-select--popup__item2.hover-text-color Александр Куликов
                                        li.section-select--popup__item2.hover-text-color Александр Куликов2
                                        li.section-select--popup__item2.hover-text-color Александр Куликов3
                                        li.section-select--popup__item2.hover-text-color Александр Куликов4
                                        li.section-select--popup__item2.hover-text-color Александр Куликов5
                            .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-down-menu--item
                                .section-select--input.section-select--input__show
                                    span Район города
                                    .section-select--popup__icon
                                        +icon('arrow-down-white')
                                    ul.section-select--popup__list.section-select--popup__list__show
                                        li.section-select--popup__item2.hover-text-color Александр Куликов
                                        li.section-select--popup__item2.hover-text-color Александр Куликов2
                                        li.section-select--popup__item2.hover-text-color Александр Куликов3
                                        li.section-select--popup__item2.hover-text-color Александр Куликов4
                                        li.section-select--popup__item2.hover-text-color Александр Куликов5

                .col-xl-12.col-lg-12.col-md-12.col-sm-12.section-input-wrap
                    .section-label-select--wrap.section-down-menu--blocks
                        label Расстояние от точки отправления до точки назначения:
                        .section-down-menu--wrap
                            .col-xl-5.col-lg-5.col-md-5.col-sm-5.section-down-menu--item
                                input.input-main(type="text" placeholder="52 км")
                .col-xl-12.col-lg-12.col-md-12.col-sm-12.section-input-wrap
                    .checkbox-input--tab__item
                        .checkbox-input
                        input.checkbox-input--tab(type="checkbox")
                        span Считать по своему тарифу

                .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-input-wrap
                    label Пассажирская поездка:
                    input.input-main(type="text" placeholder="Укажите сумму")
                .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-input-wrap
                    label Грузовая поездка:
                    input.input-main(type="text" placeholder="Укажите сумму")
                .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-input-wrap
                    label Поездка с рефрижератором:
                    input.input-main(type="text" placeholder="Укажите сумму")
                .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-input-wrap
                    label Поездка с цистерной:
                    input.input-main(type="text" placeholder="Укажите сумму")
                .col-xl-12.col-lg-12.col-md-12.col-sm-12.section-input-wrap
                    .checkbox-input--tab__item
                        .checkbox-input
                        input.checkbox-input--tab(type="checkbox")
                        span Считать по км

                .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-input-wrap
                    label Пассажирская поездка (за 1 км):
                    input.input-main(type="text" placeholder="Укажите сумму")
                .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-input-wrap
                    label Грузовая поездка (за 1 км):
                    input.input-main(type="text" placeholder="Укажите сумму")
                .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-input-wrap
                    label Поездка с рефрижератором (за 1 км):
                    input.input-main(type="text" placeholder="Укажите сумму")
                .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-input-wrap
                    label Поездка с цистерной (за 1 км):
                    input.input-main(type="text" placeholder="Укажите сумму")


            .section-footer-side
                .section-buttons--wrap
                    button.section-button--yellow.w-100px.mr-3(type="submit") Сохранить
                    .section-button--gray.w-100px Отменить
