section.section3.col-xl-12.col-lg-12.col-md-12.col-sm-6
    .filter-main.box-bg2
        .section-top-side
            .section-reports-left
                .section-block--title Сравнение по регионам
                .section-reports-date-list
                    .section-reports-date-item Сравнение по кузовам
            .section-reports-right
                .section-reports-mobile--wrap
                    .section-reports-mobile.section-dotted-mobile2.mr-0
                        +icon('sort')
                    .section-upper-modal__calendar
                        .col-xl-8.col-lg-8.col-md-8.col-sm-6.section-balance-filter--date.p-0
                            label Укажите интервал:
                            .section-balance-filter--date__wrap
                                .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap.pl-0.pr-0
                                    .section-balance-filter-date__wrap
                                        input.input-main.calendar-filter-today.calendar-zone-height(type="text")
                                        .section-balance-date--icon
                                            +icon('calendar')

                                .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap.pr-0
                                    .section-balance-filter-date__wrap
                                        input.input-main.calendar-filter.calendar-zone-height(type="text")
                                        .section-balance-date--icon
                                            +icon('calendar')
