section.section-1
    .section-content--main__wrap.box-bg2.pb-0
        .section-content--main
            .section-top-side
                .section-top-block--back
                    .section-top-block--back__item
                        +icon('arrow-left')
                    .section-block--title Поездка №4
            .section-bottom-side.pr-0.pl-0
                ul.setion-trip-more--list
                    li.setion-trip-more--item
                        .setion-trip-more--name Автор:
                        a.setion-trip-more--info(href="/") Анна Гущина
                    li.setion-trip-more--item
                        .setion-trip-more--name Тип поездки:
                        a.setion-trip-more--info(href="/") Пассажирская
                    li.setion-trip-more--item
                        .setion-trip-more--name Пассажиры:
                        a.setion-trip-more--info(href="/") Марья Ефремова, Наталья Муравьёва #[span (2)]
                    li.setion-trip-more--item
                        .setion-trip-more--name Дата отправления: 08.06.2020 22:20:00
                    li.setion-trip-more--item
                        .setion-trip-more--name Дата изменения: 08.06.2020 22:20:00
                    li.setion-trip-more--item
                        .setion-trip-more--name Сумма (UZS): 110 000
                    li.setion-trip-more--item
                        .setion-trip-more--name Сбор (UZS): 11 000
                    li.setion-trip-more--item
                        .setion-trip-more--name Пункт отправления: Ташкент
                        a.setion-trip-more--info(href="/") Ташкент
                    li.setion-trip-more--item
                        .setion-trip-more--name Остановки:
                        a.setion-trip-more--info(href="/") Чиназ (Отделение связи №170100)
                    li.setion-trip-more--item
                        .setion-trip-more--name Пункт назначения:
                        a.setion-trip-more--info(href="/") Андижан
                    li.setion-trip-more--item
                        .setion-trip-more--name Автомобиль: Ford Focus
                    li.setion-trip-more--item
                        .setion-trip-more--name Кол-во мест: 5
                    li.setion-trip-more--item
                        .setion-trip-more--name Свободных мест: 2
                    li.setion-trip-more--item
                        .setion-trip-more--name Дальность поездки: 352,7 км
                    li.setion-trip-more--item
                        .setion-trip-more--name Время поездки: 5 ч. 40 мин.

            .section-footer-side
                .section-buttons--wrap
                    .section-button--yellow.w-140 Изменить
