section.section1

    ul.list-pagez
        a(href="/") Главная
        a(href="/user-root.html") Права доступа
        a(href="/role.html") Роли
        a(href="/users.html") Пользователи
        a(href="/support.html") Поддержка (Рабочий стол)
        a(href="/support2.html") Поддержка
        a(href="/support3.html") Поддержка
        a(href="/support4.html") Поддержка
        a(href="/support-table.html") Поддержка
        a(href="/support5.html") Поддержка
        a(href="/support6.html") Поддержка
        a(href="/support7.html") Поддержка
        a(href="/support8.html") Поддержка
        a(href="/support9.html") Поддержка
        a(href="/support10.html") Поддержка
        a(href="/support11.html") Поддержка
        a(href="/support12.html") Поддержка
        a(href="/trip.html") Поездки
        a(href="/trip-people.html") Добавить пассажирскую поездку
        a(href="/trip-people-more.html") Пассажирская поездка, подробнее
        a(href="/trip-cargo.html") Добавить грузовую поездку
        a(href="/trip-cargo-more.html") Грузовая поездка, подробнее
        a(href="/review-list.html") Отзывы
        a(href="/review-add.html") Добавить отзыв
        a(href="/cars.html") Машины
        a(href="/cars2.html") Машины
        a(href="/cars3.html") Машины
        a(href="/cars4.html") Машины
        a(href="/cars5.html") Машины
        a(href="/cars.html") Машины
        a(href="/content.html") Контент
        a(href="/content2.html") Контент
        a(href="/content3.html") Контент
        a(href="/create-info.html") Контент
        a(href="/create2.html") Контент
        a(href="/create3.html") Контент
        a(href="/seo.html") SEO
        a(href="/seo2.html") SEO
        a(href="/seo3.html") SEO
        a(href="/seo4.html") SEO
        a(href="/seo5.html") SEO
        a(href="/seo6.html") SEO
        a(href="/seo7.html") SEO
        a(href="/seo8.html") SEO
        a(href="/docum.html") Докум
        a(href="/docum2.html") Докум
        a(href="/docum3.html") Докум
        a(href="/docum4.html") Докум
        a(href="/operation.html") Операции
        a(href="/operation2.html") Операции
        a(href="/reports.html") Отчеты
        a(href="/reports2.html") Отчеты
        a(href="/reports3.html") Отчеты
        a(href="/reports4.html") Отчеты
        a(href="/reports5.html") Отчеты
        a(href="/reports6.html") Отчеты
        a(href="/reports7.html") Отчеты
        a(href="/yandex.html") Яндекс
        a(href="/google.html") Google











